html, body {
    overflow-x: hidden;
    overflow-y: hidden; 
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    background-image: url('/images/wp.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: -2;
  }
  
  #quote-box{
    margin: auto;
    padding: 10px;
  }

  #content {
    height: 45em;
    text-align: center;
    padding-top: 8%;
    padding-bottom: 50%;
  }
  
  p {
    max-width: 40em;
    color: white;
    font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
    letter-spacing:0.1em;
    text-align:center;
    margin: 40px auto;
    text-transform: lowercase;
    line-height: 145%;
    font-size: 2em;
    font-variant: small-caps; 
  }
  
  #b-nav {
    padding-bottom: 4em;
    position: fixed;
    width: 100%;
    bottom: 2em;
  }
  
  #b-nav ul {
    margin: 0;
    padding: 0.5em;
    list-style-type: none;
    text-align: center;
  }
  
  #b-nav ul li {
    display: inline;
  }
  
  #b-nav ul li a {
    text-decoration: none;
    padding: .2em 1em;
    background-color: black;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
  }

  #gen {
    outline: none;
    padding-top: 5px;
    text-decoration: none;
    opacity: 0.6;
    background-color: black;
    color: white;
    border: thin solid white;
    height: 40px;
    width: 100px;
    border-radius: 2px;
    transition: 0.5s;
    padding-bottom: 5px;
    transition-duration: 1000ms;
  }
  
  #gen:hover {
    background-color: white;
    color: black;
    border: thin solid black;
    opacity: 0.8;
    transition-duration: 1000ms;
  }
  
  #gen a {
    text-decoration: none;
  }
  
  @media screen 
   and (max-device-width: 800px) 
    and (max-device-height: 640px) 
    and (-webkit-device-pixel-ratio: 2) 
    and (orientation: portrait) {
      p {
        font-size: 1em;
      }
  }
  
  footer {
    position: fixed;
    bottom: -1px;
    width: 100%;
    height: 2vh;
    background-color: white;
    text-align: center;
    
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
  }

  footer a{
    width: 100%;
    bottom: 0.7vh;
    text-decoration: none;
    color: black;
    line-height: 20px;
  }